<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <style>
  </style>
  <meta charset="UTF-8">
  <title>IPM</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class = "banner">

    <img src="static/image2.png" alt="Computer" />
    <h1 id="title_text">IPM <br> 2025/26</h1>
  </div>

  <nav id="bottomNav">
    <a href="#about us">About us</a>
    <a href="#assignments">Assignments</a>
    <a href="#project">Project</a>
  </nav>

  <h2 id="about us">About us</h2>
  <h3>Computer Science students from FCT NOVA [...]</h3>

  <div>
    <h2 id="assignments">Assignments</h2>

    <div class="cards-container">
      <div id="1" class="card">
        <img src="static/image1.png" alt="Portfolio" />
        <div class="overlay">
          <h3>Assignment 1</h3>
          <p>Good and bad design</p>
        </div>
      </div>
    </div>
  </div>

<div>
  <h2 id="project">SYNC Project</h2>

  <div class="cards-container">
    <div id="2" class="card">
      <img src="static/Logo.png" alt="Portfolio" />
      <div class="overlay">
        <h3>Stage 1</h3>
        <p>Project proposal</p>
      </div>
    </div>

    <div id="3" class="card">
      <img src="static/Logo.png" alt="Portfolio" />
      <div class="overlay">
        <h3>Stage 2</h3>
        <p>User and task analysis</p>
      </div>
    </div>

    <div id="4" class="card">
      <img src="static/Logo.png" alt="Portfolio" />
      <div class="overlay">
        <h3>Stage 3</h3>
        <p>First Prototype</p>
      </div>
    </div>

  </div>
</div>

  <div>
    <h2 id="UI Development">UI Development</h2>

    <div class="cards-container">
      <div id="5" class="card">
        <img src="static/image1.png" alt="Portfolio" />
        <div class="overlay">
          <h3>Sketches</h3>
          <p>Sketches</p>
        </div>
      </div>
      
      <div id="6" class="card">
        <img src="static/image1.png" alt="Portfolio" />
        <div class="overlay">
          <h3>Prototype</h3>
          <p>Prototype</p>
        </div>
      </div>

    </div>


  </div>

  <!-- Popups -->
  <div id="popupBackground1" class="popup-background">
    <div id="popup1" class="popup">
      <span style="color: red;" id="close1" class="close">X</span>
      <h3>Assignment1</h3>
      <p>Trabalhos:</p>
      <p><a href="static/image1.png" target="_blank">Pedro Peres</a></p>
      <p><a href="static/assignments/Assignment1_JoaoNunes.pdf" target="_blank">João Nunes</a></p> 
      <p><a href="static/assignments/assg_1_ricardo.pdf" target="_blank">Ricardo Oliveira</a></p>
      <p><a href="static/image1.png" target="_blank">Madalena Alves</a></p>

    </div>
  </div>

  <div id="popupBackground2" class="popup-background">
    <div id="popup1" class="popup">
      <span style="color: red;" id="close2" class="close">X</span>
      <h3>Stage1</h3>
      <p>Descrição:</p>
      <p>Elabore a proposta do projeto e crie o website do projeto.
          Descreva o problema que você tentará resolver durante o projeto. Em resumo, caracterize o público-alvo. 
          Descreva o objetivo principal do projeto e uma possível solução para o problema. 
          Identifique possíveis aplicações semelhantes.
        </p>
      
      <p>Data: 29 Setembro 2025</p>
      <p><a href="static/Project/Stage_1_Report.pdf" target="_blank">click here to see the report</a></p>
      <p>Autores:</p>
      <ul class="autores">
        <li>Pedro Peres</li>
        <li>João Nunes</li>
        <li>Ricardo Oliveira</li>
        <li>Madalena Alves</li>
      </ul>


    </div>
  </div>


  <div id="popupBackground3" class="popup-background">
    <div id="popup1" class="popup">
      <span style="color: red;" id="close3" class="close">X</span>
      <h3>Stage2</h3>
      <p>Descrição:</p>
      <p>Identificação e caracterização dos utilizadores-alvo, tarefas e cenários.
          Nesta etapa, pretende-se examinar e compreender o espaço do problema.
          Quem são os utilizadores alvo?
          Que tarefas os utilizadores desejam realizar?
          Que funcionalidades o sistema deve disponibilizar?
        </p>
      
      <p>Data: 12 Outubro 2025</p>
      <p><a href="static/Project/Stage2_report.pdf" target="_blank">click here to see the report</a></p>
      <p>Autores:</p>
      <ul class="autores">
        <li>Pedro Peres</li>
        <li>João Nunes</li>
        <li>Ricardo Oliveira</li>
        <li>Madalena Alves</li>
      </ul>
    </div>
  </div>

  <div id="popupBackground4" class="popup-background">
    <div id="popup1" class="popup">
      <span style="color: red;" id="close4" class="close">X</span>
      <h3>Stage3</h3>
      <p>Descrição:</p>
      <p>Sketches, Prototypes and Evaluation.
          Nesta etapa, pretende-se criar esboços e protótipos de baixa fidelidade para o sistema proposto.
          Desenvolva esboços iniciais das interfaces do utilizador e crie protótipos interativos de baixa fidelidade.
          Realize avaliações heurísticas ou testes de usabilidade com utilizadores reais para obter feedback sobre os protótipos.
        </p>
      
      <p>Data: 3 Novembro 2025</p>
      <p><a href="static/Project/Stage3_report.pdf" target="_blank">click here to see the report</a></p>
      <p>Autores:</p>
      <ul class="autores">
        <li>Pedro Peres</li>
        <li>João Nunes</li>
        <li>Ricardo Oliveira</li>
        <li>Madalena Alves</li>
      </ul>
    </div>
  </div>

  <div id="popupBackground5" class="popup-background">
    <div id="popup1" class="popup">
      <span style="color: red;" id="close5" class="close">X</span>
      <h3>Sketches</h3>

      
      <p>Data: 12 Ourubro 2025</p>
      <!--queria colocar aqui fotos-->
      
      <div class="popup-fotos">
        <img src="static/fotos/sketch1.jpeg" alt="Sketch 1">
        <img src="static/fotos/sketch2.jpeg" alt="Sketch 2">
        <img src="static/fotos/sketch3.jpeg" alt="Sketch 3">
        <img src="static/fotos/sketch4.jpeg" alt="Sketch 4">
      </div>

      <p>Autores:</p>
      <ul class="autores">
        <li>Pedro Peres</li>
        <li>João Nunes</li>
        <li>Ricardo Oliveira</li>
        <li>Madalena Alves</li>
      </ul>
    </div>
  </div>

  <div id="popupBackground6" class="popup-background">
    <div id="popup1" class="popup">
      <span style="color: red;" id="close6" class="close">X</span>
      <h3>Sketches</h3>

      
      <p>Data: 12 Ourubro 2025</p>
      <!--queria colocar aqui fotos-->
      
      <div class="popup-fotos">
        <img src="static/fotos/prototype.jpeg" alt="Sketch 1">
        <img src="static/fotos/prototype1.jpeg" alt="Sketch 2">
        <img src="static/fotos/prototype2.jpeg" alt="Sketch 3">
        <img src="static/fotos/prototype3.jpeg" alt="Sketch 4">
      </div>

      <p>Autores:</p>
      <ul class="autores">
        <li>Pedro Peres</li>
        <li>João Nunes</li>
        <li>Ricardo Oliveira</li>
        <li>Madalena Alves</li>
      </ul>
    </div>
  </div>

  <script>
    /* Open popups via card clicks */
    document.querySelectorAll('.card').forEach(card => {
      card.addEventListener('click', () => {
        const id = card.id; // get id of clicked card
        document.getElementById(`popupBackground${id}`).style.display = 'flex';
      });
    });

    /* Close popups via [X] clicks */
    document.querySelectorAll('.close').forEach(closeBtn => {
      closeBtn.addEventListener('click', () => {
        const num = closeBtn.id.replace('close', '');
        document.getElementById(`popupBackground${num}`).style.display = 'none';
      });
    });

    const nav = document.getElementById('bottomNav');

    let navOffsetTop;

    function updateNavOffset() {
      navOffsetTop = nav.getBoundingClientRect().top + window.scrollY;
    }

    window.addEventListener('load', updateNavOffset);
    window.addEventListener('resize', updateNavOffset);

    window.addEventListener('scroll', () => {
      if (window.scrollY >= navOffsetTop) {
        nav.classList.add('sticky');
      } else {
        nav.classList.remove('sticky');
      }
    });

    const textElem = document.getElementById('title_text')
    const textContent = textElem.textContent;
    const speed = 150; // milliseconds per character
    let i = 0;
    textElem.textContent = "";

    function typeWriter() {
      if (i < textContent.length) {
        textElem.textContent = textElem.textContent.replace(/\|$/, ""); //matches real pipe char
        textElem.textContent += textContent.charAt(i) + "|";
        i++;
        setTimeout(typeWriter, speed);
      }
      else {
         textElem.textContent = textElem.textContent.replace(/\|$/, "");
      }
    }


    window.onload = typeWriter();

  </script>
</body>
</html>

